[Unit]
Description=Radiusd OTP service
After=syslog.target
After=network.target
Before=radiusd

[Service]
Type=simple
User=radiusd
Group=radiusd
EnvironmentFile=/etc/sysconfig/radiusd-otp
ExecStart=/usr/bin/gunicorn -w "$GUNICORN_WORKERS" --bind unix:/run/radiusd-otp/sock radiusd_otp:api
Restart=always

[Install]
WantedBy=multi-user.target
