[Unit]
Description=Radiusd OTP service
After=syslog.target
After=network.target
Before=radiusd

[Service]
Type=simple
User=radiusd
Group=radiusd
EnvironmentFile=/etc/sysconfig/radiusd-timedpass
ExecStart=/usr/bin/gunicorn --access-logfile - --bind unix:/run/radiusd-timedpass/sock -w "$GUNICORN_WORKERS" radiusd_timedpass:api
Restart=always

[Install]
WantedBy=multi-user.target
