[Unit]
Description=Radiusd OTP service
After=syslog.target
After=network.target
Before=radiusd

[Service]
Type=simple
User=radiusd
Group=radiusd
EnvironmentFile=/etc/sysconfig/radiusd-timedpass
ExecStart=/usr/bin/python3 -I -m radiusd_timedpass
SELinuxContext=system_u:system_r:radiusd_timedpass_t:s0
Restart=always

[Install]
WantedBy=multi-user.target
