policy_module(radiusd-timedpass, 1.0)

require {
    type bin_t;
    type init_t;
    type kernel_t;
    type radiusd_t;
    type redis_port_t;
    type unconfined_t;
    type user_t;
    type init_var_run_t;
    class sock_file { write getattr append open };
    class unix_stream_socket connectto;
}

type radiusd_timedpass_t;
domain_type(radiusd_timedpass_t)

type radiusd_timedpass_sock_t;
files_type(radiusd_timedpass_sock_t)

# daemon permissions
role system_r types radiusd_timedpass_t;
auth_read_passwd(radiusd_timedpass_t)
auth_use_nsswitch(radiusd_timedpass_t)
files_manage_generic_tmp_files(radiusd_timedpass_t)

allow init_t radiusd_timedpass_t:process { transition dyntransition };
allow radiusd_timedpass_t bin_t:file { entrypoint execute getattr map open read };
allow radiusd_timedpass_t init_var_run_t:dir search;
allow radiusd_timedpass_t kernel_t:unix_stream_socket connectto;
allow radiusd_timedpass_t radiusd_timedpass_sock_t:dir { add_name remove_name search write };
allow radiusd_timedpass_t radiusd_timedpass_sock_t:sock_file { create getattr setattr unlink write };
allow radiusd_timedpass_t redis_port_t:tcp_socket name_connect;

# allow freeradius to use socket
allow radiusd_t radiusd_timedpass_sock_t:dir search;
allow radiusd_t radiusd_timedpass_sock_t:sock_file write;
allow radiusd_t radiusd_timedpass_t:unix_stream_socket connectto;
